/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  background: #012169;
  min-width: 800px;
}

/*.row,
.row-alt {
  min-width: 960px;
}

.row-alt {
   background: #cbe2c1;
   background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
   padding: 44px 0 22px 0;
 }

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
}

/*
  ========================================
  Login
  ========================================
*/

.welc-tit {
  text-align: center;
  min-width: 800px;
  color: #393939;
  margin-top: 40px;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
}

.welc-cap {
  text-align: center;
  min-width: 800px;
  display: block;
  padding-top: 20px;
  padding-left: 25%;
  padding-right: 25%;
}

.error {
  font-size: 12px;
  color: red;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  float: left;
  height: 100px;
  width: auto;

/*  font-family: 'EB Garamond', "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  font-size: 60px;*/
}

.v-line {
  background: #fff;
  float: left;
  display: inline-block;
  width: 1px;
  margin: 25px;
  height: 60px;
}

.page {
  float: left;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 45px;
}



.set-btns {
  float: right;
  text-align: right;
  vertical-align: bottom;
  padding-top: 30px;
}

.btn {
  color: #FFF;
  cursor: pointer;
  margin-top: 80px: 
  line-height: 80px;
  color: #fff;
  font-style: italic;
  text-decoration: none;
}

.btn:hover {
  text-decoration: underline;
}








/*
  ========================================
  Apps
  ========================================
*/

.int-face {
  display: table;
  min-width: 800px;
  height: 100%;
  width: 100%;

}

.feed {
  display: table-cell;
  width: 40%;
  min-width: 400px;
/*  vertical-align: top;*/
}

.feed-title {
  background: #0577B1;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  padding-top: 25px;
}

.feed-body {
  background: #0577B1;
  width: 100%;
  min-width: 100px;
  border-left: 45px solid #0577B1;
  border-right: 45px solid #0577B1;
  padding-top: 20px;
  height: 700px;
  padding-bottom: 50px;
}

.feed-twitter {
  background: #fff;
  min-height: 450px;
  text-align: center;
/*  border-right: 1000px;*/
  box-shadow: 0px 2px 12px black;
}

.dash {
  display: table-cell;
  vertical-align: top;
/*  padding-top: 20px;*/
  text-align: left;
  width: auto;
  height: 250px;

}

#status {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  display: inline-block;
/*  background: #B5B5B5;*/
  width: 100%;
  /*text-align: left;*/

}

.apps {
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 3%;
}

.stat-img {
  display: inline-block;
  margin: 3px;
  height: 25px;
  width: auto;

/*  background: #B5B5B5;*/
}

.stat {
/*  background: #B5B5B5;*/
  display: inline-block;
  height: 37px; 
  text-align: left;
  padding: 3px;
/*  border-radius: 5px;*/
  border-bottom: 2px solid #B5B5B5;
}

.blinking{
  animation:blinkingText 1s infinite;
  font-weight: bold;
}

@keyframes blinkingText{
  0%{   color: #393939;  }
  49%{  color: transparent; }
  50%{  color: transparent; }
  99%{  color:#393939; }
  100%{ color: #393939;  }
}

.devicestat {
  display: inline-block;
  float: right;
  line-height: 37px;
  height: 37px; 
/*  text-align: right;*/
  border-bottom: 2px solid #B5B5B5;
/*  border-radius: 5px;*/
}

.app-wrap {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 22%;
  min-width: 110px;
  margin-right: 20px;
  margin-left: 5%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.app {
  position: relative;
  display: inline-block;
  width: 90%;
  min-width: 90px;
  background: #fff;
  border-radius: 22%;
  box-shadow: 0px 2px 12px grey;
  border: 4px solid #fff;
}

.app::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.app:hover {
  padding: 0px;
  border: 0px solid #fff;
  box-shadow: 0px 0px 15px #012169;
}

.app:focus-within {
  padding: 0px;
  border: 2px solid #012169;
  box-shadow: 0px 0px 15px #012169;
}

.app-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%
  width: 100%;
}

.icon {
  width: 90%;
  height: auto;
  padding: 5%;
}

/*.square {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}*/



/*.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}
*/


/*
  ========================================
  Performance
  ========================================
*/

.perf-int {
  display: table;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.last-week {
  display: table-cell;
  width: 30%;
  min-width: 350px;
  text-align: center;
  padding-top: 10px;
  background: #B5B5B5;
  height: 700px;
}

.lw-tit {
  margin-bottom: 15px;
}

.space {
  height: 40px;
}

.perf-tit {
  margin: 20px;
  line-height: 50px;
}

.graph {
  border: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.inputs {
  display: table-cell;
  width: 40%;
  text-align: center;
  color: #393939;
}

.speed-output {
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Arial, sans-serif;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.caption {
  margin-top: 5px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 14px;
/*  max-width: 400px;*/
}

.speed-result {
  height: 80px;
  width: 120px;
  background: #B5B5B5;
}

/*
=====================================
SCAN
=====================================
*/

 input.button-add { 
        border: 10px solid grey; 
        width: 100px;
        height: 100px;
        position: relative;
        top: 50%;
        left: 50%;
        margin-top: 0px;
        margin-left: 0px
      } 

      input.button-add:hover { 
        border: 5px solid grey;
        margin: center;
        width: 100px;
        height: 100px;
        position: relative;
        top: 50%;
        left: 50%;
        margin-top: 0px;
        margin-left: 0px
    }

      iframe.myframe {
        width: 600px;
        height: 500px;
        top: 50%;
        left: 50%;
        positon: relative;
        margin-top: 0px;
        margin-left: 100px
      }

      iframe.devicePopulation {
        width: 400px;
        height: 75px;
        text-align: left;
        position: absolute;
      }

      .columnscan {
      float: left;
      width: 50%;
      padding: 10px;
    }

    /* Clear floats after the columns */
    .rowscan:after {
      content: "";
      display: table;
      clear: both;
    }

    ul.scan {
      list-style-type: disc;
      padding: 5px 10px;
      background-color: #e8e8e8;
      border-style: 1px solid black;
    }

    li.scan {
      border-bottom: 1px solid grey;
    }


/*
  ========================================
  VPN
  ========================================
*/

.vpn-toggle {
  margin-top: 6px;
  margin-bottom: 30px;
  padding-left: 80px;
  padding-right: 40px;
  padding-bottom: 60px;
}

/* The switch - the box around the slider */ /*I made this 1.5x the original suggested size, please feel free to play around with it*/
.switch {
  position: relative;
  display: inline-block;
  width: 90px; /*60*/
  height: 51px; /*34*/
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 39px; /*26*/
  width: 39px; /*26*/
  left: 6px; /*4*/
  bottom: 6px; /*4*/
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0577B1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0577B1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(39px); 
  -ms-transform: translateX(39px); 
  transform: translateX(39px); /*26*/
}

/* Rounded sliders */
.slider.round {
  border-radius: 51px; /*34*/
}

.slider.round:before {
  border-radius: 50%;
}

/*
  ========================================
  Firewall
  ========================================
*/

.fire {
  display: table;
  border-top: 5px solid #B5B5B5;
  border-left: 5px solid #B5B5B5;
  border-right: 5px solid #B5B5B5;
  width: 920px;
  padding: 30px;
  background: #e8e8e8;
  text-align: center;
}

.fire-url {
  display: block;
  border-bottom: 5px solid #B5B5B5;
  border-left: 5px solid #B5B5B5;
  border-right: 5px solid #B5B5B5;
  background: #e8e8e8;
  text-align: center;
  padding-bottom: 30px;
  width: 1006px;
}

.tcell {
  display: table-cell;
  text-align: center;
  border: 6px solid transparent;
}

.fire-li {
  padding: 5px;
/*  min-height: 250px;*/
  width: 300px;
  height: 200px;
  text-align: left;
  overflow: scroll;
  border: 3px solid #666666;
}

.url-li {
  padding: 5px;
  display: inline-block;
  height: 200px;
  text-align: left;
  overflow: scroll;
  border: 3px solid #666666;
}

.good-ip {
  background: #B5B5B5;
  padding-left: 5px;
}
.good-ip:nth-child(even) {
  background: #e8e8e8;
}


.bad-ip{
  padding-left: 5px;
  background: #B5B5B5;
}
.bad-ip:nth-child(even) {
  background: #e8e8e8;; 
}

.editor {
  height: 100px;
  display: block;
  text-align: center;
  padding-top: 20px;
  
}

.to-edit {
  display: inline-block;
  text-align: left;
  margin: 20px;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
}

.full {
/*  background: #e8e8e8;
  padding-right: 30px;*/
/*  border-left: 30px solid #F3F2F1;
  border-right: 30px solid #F3F2F1;
  padding-left: 20px;*/
  /*width: 1035px;*/
  background: #F3F2F1;
  /*background: #F3F2F1;*/
  width: 1015px;
  border: 30px solid #F3F2F1;
}

.main {
  background: #F3F2F1;
  overflow: scroll;
}


/*
  ========================================
  Primary footer
  ========================================
*/


.footer {
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 35px;
}

.footnote {
  display: inline-block;
  padding-right: 20px;
  margin-top: 50px: 
  color: #FFF;
  font-style: italic;
  text-decoration: none;
}

.footie {
  color: #FFF;
  font-style: italic;
  text-decoration: none;
  display: inline-block;
}

.footie:hover {
  text-decoration: underline;
}

/*.primary-footer small {
  float: left;
  font-weight: 400;
}*/

/*
  ========================================
  Navigation
  ========================================
*/





/*.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}*/



/*
  ========================================
  Help Pages
  ========================================
*/

.help-tit {
  text-align: center;
  color: #393939;
  font-size: 25px;
  font-weight: 300;
  line-height: 50px;
}

#help-welc {
  font-weight: 400;
}

.help-head {
  font-size: 60px;
  color: #393939;
  font-weight: 300;
  line-height: 70px;
  margin-bottom: 40px;
  padding-top: 10px;
}

.help-sec {
  text-align: center;
  min-width: 700px;
  margin: 40px;

}

.help-ul {
  background: #f8f7f7;
  display: inline-block;
  text-align: center;
  width: 500px;
  border-left:  1px solid #B5B5B5;
  border-right: 1px solid #B5B5B5;
  border-top: 1px solid #B5B5B5;
  margin-bottom: 40px;
}

.help-li {
  padding: 5px;
  border-bottom: 1px solid #B5B5B5;
}
.help-li:hover {
  background: #e8e8e8;
  border-bottom: 1px solid #B5B5B5;
  text-decoration: none;
}

.help-btn {
  color: #393939;
}

.help-caption {
  display: inline-block;
/*  padding-left: 120px;
  padding-right: 120px;*/
  font-size: 16px;
  max-width: 600px;
/*  margin-left: 200px;
  margin-right: 200px;*/
  margin-bottom: 40px;
}

.bar {
  color: #393939;
  background: #B5B5B5;
  margin-bottom: 40px;
}

.help-h {
  font-size: 30px;
  line-height: 40px;
}

.help-content {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 30px;
}

.q {
  text-align: left;
  margin-bottom: 30px;
}

.back {
  position: absolute;
  top: 130px;
  left: 60px;
  font: 300 55px "Montserrat", "Helvetica Neue", sans-serif;
  line-height: 65px;
  border-left: 3px solid transparent;
  padding: 20px;
  text-decoration: none;
  color: #393939;
}

.back:hover {
  font-size: 60px;
  border-left: 0px solid transparent;
}

.question {
  color: #393939;
  font-size: 20px;
  text-align: left;
  font-weight: 900;
  line-height: 40px;
}

/*I've replaced all instances of this with help-h*/
.section-header {
  color: #393939;
  font-size: 20px;
  text-align: left;
  font-weight: 800;
  line-height: 40px;
}

.help-bull-li {
  padding-left: 30px;
}

.more {
}

.inline-link {
  color: #0577B1;
  text-decoration: none;
  font: 400 16px/22px "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.inline-link:hover {
  text-decoration: underline;
}

.a-setting {
  font-weight: 900;
}
.a-note {
  font-style: italic;
}

.icon-td {
  width: 33.3%;
  position: relative;
  vertical-align: middle;
}

.icon-td:after {
  content: '';
  display: block;
}

.status-icons {
  width: 60%;
  height: 60%;
  text-align: center;
  padding: 20px;
}

.icon-type {
  text-align: center;
  font-size: 25px;
}

.on-off {
  width: 10%
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

/*
  ========================================
  Option Page
  ========================================
*/

.options-int {
  margin: 40px;
  background: #e8e8e8;
  padding: 15px;
  min-width: 700px;
  width: 80%;
}

.sett-tit {
  width: 500px;
  display: inline-block;
  font-size: 28px;
}

.sett-text {
  text-align: left;
  font-size: 14px;
  max-width: 500px;
  padding-bottom: 20px;

}

.edit-right {
  float: right;
  display: inline-block;
}

.addr {
  width: 600px;
}

.noti_choice {
  display: inline-block;
  margin-left: 30px;
}


/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: #F3F2F1;
  color: #393939;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #393939;
}

h1, h2, h3, h4 {
  color: #393939;
}

h1 {
  display: inline-block;
  font: 400 30px/35px "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}


h2 {
  font-weight: 300;
  color: #fff;
  font-size: 35px;
  
}

h3 {
  font-weight: 300;
  font-size: 25px;
  color: #fff;
  line-height: 25px;
}

h4 {
/*  text-align: center;*/
  color: #393939;
  font-size: 20px;
/*  text-align: center;*/
  line-height: 40px;
}



form {
  display: inline;
}


strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

img {
  text-align: center;
}




/*
  ========================================
Mockups
  ========================================
*/

.wrt {
  width: 100%;
  min-width: 1000px;
  height: auto;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}






